@import './base.css';

html {
  height: -webkit-fill-available;
  /* We have to fix html height */
}

body {
  display: flex;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-height: 100vh;
  min-width: 100vh;
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
}

#app {
  font-family: Px-Grotesk, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

#app pre {
  margin: 0;
  font-family: Px-Grotesk, Avenir, Helvetica, Arial, sans-serif;
}

#app h1 {
  margin: 0;
  font-family: Px-Grotesk, Avenir, Helvetica, Arial, sans-serif;
}

#app button {
  font-family: Px-Grotesk, Avenir, Helvetica, Arial, sans-serif;
}

#app p {
  font-family: Px-Grotesk, Avenir, Helvetica, Arial, sans-serif;
}

#app input {
  font-family: Px-Grotesk, Avenir, Helvetica, Arial, sans-serif;
}

#app textarea {
  font-family: Px-Grotesk, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Px-Grotesk';
  src: url('./fonts/pxgrotesk/PxGroteskPan-Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: thin;
}

@font-face {
  font-family: 'Px-Grotesk';
  src: url('./fonts/pxgrotesk/PxGroteskPan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Px-Grotesk';
  src: url('./fonts/pxgrotesk/PxGroteskPan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}